@media (max-width: 480px) {

    .containerHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        background-color: #2D2D2D;
        color: white;
        height: 60vh;
        border-bottom-left-radius: 4vw;
        border-bottom-right-radius: 4vw;
        background-image: url("../img/fundo-monks.png");
        background-position: right;
        background-size: 45% 100%;
        
    }

    .containerLogoCategorias {
        width: 60%;
        height: 8vh;
        display: flex;
        justify-content: flex-start;
        margin-left: 5vh;        
    }

    .logotipo {
        width: 50%;
        margin-left: 4vw;
        margin-right: 5vw;
    }

    .logotipo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .containerCategorias {
        display: none;
    }

    .containerIconMenu {
        position: relative;
        cursor: pointer;
    }

    .containerIconMenu i {
        top: 2vh;
        font-size: 2.5vh;
        color: #fff;
    }

    .containerIconMenu {
        display: flex; 
        align-items: center;
    }

    .categoriasCelular {
        display: none; 
        position: absolute;
        top: 7%;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background-color: #e0b3ff;
        height: 53vh;
    }

    .categoriasCelular li {
        color: #000000;
        margin-top: 5vh;
        margin-left: 10vh;
        font-size: 5vw;
        font-weight: bold;
    }

    .categoriasCelular.menuAtivo {
        display: flex; 
    }

    .containerDescricaoHeader {
        width: 30%;
    }

    .containerDescricaoHeader h2 {
        font-size: 5vw;
    }

    .containerDescricaoHeader p {
        font-size: 3.5vw;
    }

    .containerScroll {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
    }
    
    .containerImagemScroll {
        width: 30%;
        height: 14vh;
    }
    
    .containerImagemScroll img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .tituloSecaoProdutos h2 {
        font-size: 5vw;
    }

    .tituloSecaoProdutos p {
        font-size: 4vw;
    }

    .containerProdutos {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 0;
    }

    .itemProduto {
        padding: 2vw;
        width: 100%;
        height: 60%;
        display: flex;
        margin-bottom: 4vh;
        gap: 0;
        border-radius: 3vw;
    }

    .itemProduto img {
        max-width: 100%;
        height: 75%;
        object-fit: fill;
    }

    .itemProduto h3 {
        margin-top: 2vh;
        font-size: 5vw;
    }

    .itemProduto p {
        width: 100%;
        font-size: 4.5vw;
        margin-bottom: 2vh;
    }

    .containerGrid {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }

    .item1 h3 {
        font-size: 5vw;
    }

    .item1 p {
        font-size: 4vw;
    }

    .containerBannerAppPai {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        padding: 6vw;
        height: 62vh;
        border-radius: 5vw;
        
    }

    .containerBannerApp {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin: 0;
    }

    .containerBannerApp h2 {
        font-size: 5vw;
    }

    #paragrafoBannerApp {
        font-size: 4.5vw;
    }

    .containerStore {
        width: 100%;
        height: auto;
    }
    
    .itemStore {
        margin-bottom: 1vh;
    }

    .secaoBotoes {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .secaoBotoes h2 {
        font-size: 5vw;
        margin-left: 5vw;
    }

    .containerBotoes, .containerBotoes2, .containerBotoes3 {
        display: flex;
    }

    .containerBotoes button, .containerBotoes2 button, .containerBotes3 button {
        width: 40%;
        margin-bottom: 1vh;
        font-size: 4vw;
        justify-content: space-between;
    }

    .containerCartoes {
        display: flex;
        flex-direction: column;
    }

    .cartao {
        width: 100%;
        height: 45vh;
        margin-bottom: 5vh;
        padding: 6vw;
    }

    .cartao h2 {
        font-size: 4.5vh;
    }

    .cartao p {
        font-size: 4vw;
    }

    .cartao button {
        align-self: center;
        width: 50%;
        padding: 3vw;
        font-size: 4vw;
        font-weight: bold;
        cursor: pointer;
        background-color: #DFBBFE;
        border: none;
        border-radius: 0.4vw;
        margin-top: 2vh;
    }

    .containerFormulario {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .containerImagemFormulario {
        width: 80%;
        height: 50%;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .containerImagemFormulario img {
        width: 100%;
        height: 100%;
    }
    
    .formulario {
        width: 90%;
        margin: auto;
        border-radius: 5vw;
        margin-bottom: 5vh;
    }

    .titulosFormulario {
        padding: 4vw;
    }
    
    .titulosFormulario h2 {
        font-size: 5vw;
    }

    .titulosFormulario h3 {
        font-size: 4vw;
    }

    .titulosFormulario h4 {
        font-size: 3vw;
    }

    .inputsFormLinha1, .inputsFormLinha2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        margin: 0;
    }

    .inputsFormLinha2 {
        margin-top: 2vh;
        margin-bottom: 4vh;
    }

    .inputsFormLinha1 input, .inputsFormLinha2 input {
        width: 90%;
        padding: 3vw;
        font-size: 4vw;
    }

    .containerVerificacao {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 5vw;
        gap: 3vw;
    }

    .containerVerificacao label {
        width: 100%;
        font-size: 5vw;
        margin-bottom: 3vh;
    }

    
    #paragrafoSoma {

        width: 42%;
        background-color: #DFDCD5;
        border-radius: 1vh;
        padding: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;
        margin-left: 0;
    }

    #primeiroValor, #segundoValor {
        font-size: 5vw;
        color: #7D26C9;
        font-weight: bold;
    }
    
    #operacao {
        font-size: 5vw;
        color: #2D2D2D;
        margin: 0 1vw;
    }
    
    
    .containerVerificacao p {
        font-size: 6vw;
        color: #2D2D2D;
    }

    .containerVerificacao input {
        width: 42%;
        padding: 3vw;
        font-size: 4vw;
        border: none;
        border-radius: 1vh;
    }

    
    .formulario button {
        align-self: center;
    }

    .containerBotaoFormulario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .containerBotaoFormulario button {
        width: 60%;
        padding: 2vw;
        font-size: 5vw;
        border: none;
        border-radius: 1vh;
        background-color: #DFBBFE;
        color: #2D2D2D;
        opacity: 0.7;
        margin-bottom: 2vh;
    }

    #resultadoVerificacao {
        width: 85%;
        margin: auto;
        margin-top: 2vh;
        font-size: 4vw;
    }

    
    .containerRedesSociais {
        width: 80%;
    }

    .itemRedesSociais {
        width: 25%;
        margin-right: 1vw;
    }

    .itemRedesSociais img {
        width: 100%;
        height: 5vh;
        object-fit: contain;
    }


    .containerSubtituloRodape {
        margin-bottom: 0.5vh;
    }

    .containerSubtituloRodape h2 {
        font-size: 5vw;
    }

    .containerLinksRodape {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1vh;
    }

    .containerLinksRodape a {
        font-size: 4.5vw;
    }

    #link4Rodape {
        margin: auto;
    }

}

@media (max-width: 360px) {  

    .containerIconMenu {
        position: relative;
        width: 20%;
        height: 100%;
    }

    .containerIconMenu i {
        top: 3vh;
        font-size: 2vh;
        color: #fff;
    }

    .containerBannerAppPai {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        padding: 6vw;
        height: 50vh;
        border-radius: 5vw;
    }

    #paragrafoBannerApp {
        font-size: 4vw;
    }

    .cartao {
        height: 40vh;
    }

    .cartao h2 {
        font-size: 6vw;
        font-weight: bold;
    }

    .cartao p {
        font-size: 5vw;
    }

    .cartao button {
        font-size: 5vw;
    }

    .containerFormulario {
        width: 100vw;
    }

    .formulario {
        width: 90%;
        margin: auto;
        margin-bottom: 1vh;
    }

    #resultadoVerificacao {
        width: 85%;
        margin: auto;
        margin-top: 2vh;
        font-size: 4vw;
    }


}